{% extends 'shop/base.html' %}
{% load i18n %}

{% block title%}
    {% translate 'Change password' %}
{% endblock %}

{% block body %}
    <h1> {% translate 'Change password' %} </h1>
    <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            {% translate 'Change' %}
        </button>
    </form>
    <div>
        <a href="{% url 'index' %}"> {% translate 'Main page' %} </a>
    </div>
    <div>
        <a href="{% url 'profile' pk=user.pk %}"> {% translate 'Back to profile page' %} </a>
    </div>
{% endblock %}