{% extends 'shop/base.html' %}
{% load i18n %}

{% block title%}
    {% translate 'Log in' %}
{% endblock %}

{% block body %}
    <h1> {% translate 'Log in' %} </h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if user.is_authenticated %}
            <input type="hidden" name="next" value="{% url 'profile' pk=user.pk %}">
        {% endif %}
        <table>
            <tr>
                <td>
                    <button type="submit"> {% translate 'Log in' %} </button>
                </td>
                <td>
                    |
                </td>
                <td>
                    <a href="{% url 'reset_password' %}"> {% translate 'Forgot password?' %} </a>
                </td>
                <td>
                    |
                </td>
                <td>
                    <a href="{% url 'registration' %}"> {% translate 'Create new account' %} </a>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}