{% extends 'shop/base.html' %}
{% load i18n %}

{% block title%}
    {% translate 'Profile' %}
{% endblock %}

{% block body %}
    <h1> {% translate 'Profile' %} </h1>
    <form method="post" action="{% url 'profile' pk=user.pk %}" enctype="multipart/form-data">
        {% if user.image %}
            <img src="{{ user.image.url }}" alt="{{ user.image.name }}">
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            {% translate 'Save' %}
        </button>
    </form>
    <div>
        <a href="{% url 'index' %}"> {% translate 'Main page' %} </a>
    </div>
    <div>
        <a href="{% url 'change_password' %}"> {% translate 'Change password' %} </a>
    </div>
{% endblock %}