{% extends 'shop/base.html' %}
{% load i18n %}

{% block title%}
    {% translate 'Profile' %}
{% endblock %}

{% block body %}
    <h1> {% translate 'Profile' %} </h1>
    <form method="post" action="{% url 'reset_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            {% translate 'Reset' %}
        </button>
    </form>
    <div>
        <a href="{% url 'index' %}"> {% translate 'Main page' %} </a>
    </div>
    <div>
        <a href="{% url 'change_password' %}"> {% translate 'Change password' %} </a>
    </div>
{% endblock %}