{% extends 'shop/base.html' %}
{% load i18n %}

{% block title %}
    {% translate 'Blog' %}
{% endblock %}


{% block body %}
    <h1> {% translate 'Blog' %} </h1>
    <ul>
        {% for article in articles %}
            <li> {{ forloop.counter }}) {% translate 'Title' %}: {{ article.title }} </li>
            <ul>
                <li> {% translate 'Content' %}: {{ article.content }} </li>
                <li> {% translate 'Publication date' %}: {{ article.pub_date }} </li>
                <li> {% translate 'Author' %}: {{ article.author }} </li>
                <li> {% translate 'Category' %}: {{ article.category }} </li>
                <li> {% translate 'Tags' %}:
                    <ul>
                        {% for tag in article.tags.all %}
                            <li> {{ tag.name }} </li>
                        {% endfor %}
                    </ul>
                <p></p>
                </li>
            </ul>
        {% endfor %}
    </ul>
    <div>
        <a href="{url 'index'}"> {% translate 'Main page' %} </a>
    </div>
{% endblock %}
