{% extends 'shop/base.html' %}
{% load i18n %}

{% block title %}
    {% translate 'Delete order' %}
{% endblock %}


{% block body %}
    <h1> {% translate 'Deleting an order' %} </h1>
    <h2> {% translate 'Are you sure you want to delete' %} {{ object.delivery_address }}? </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            {% translate 'Delete' %}
        </button>
    </form>
    <div>
        <a href="{% url 'order_details' pk=object.pk %}">
            {% translate 'Back to order details' %}
        </a>
    </div>
{% endblock %}