{% extends 'shop/base.html' %}
{% load i18n %}

{% block title %}
    {% translate 'Product' %} {{ product.pk }}
{% endblock %}


{% block body %}
    <h1> {% translate 'Product details' %} </h1>
    <li> {% translate 'Product' %}: {{ product.name }} </li>
    <ul>
        <li> {% translate 'Description' %}: {{ product.description }} </li>
        <li> {% translate 'Price' %}: ${{ product.price }} </li>
        <li> {% translate 'Discount' %}: {{ product.discount }}% </li>
        <li> {% translate 'Creation date' %}: {{ product.created_at }} </li>
        {% if product.is_archived %}
            <li> {% translate 'Product is archived' %} </li>
        {% else %}
            <li> {% translate 'Product is not archived' %} </li>
        {% endif %}
    </ul>
    <div>
        <a href="{% url 'products' %}">
            {% translate 'Back to product list' %}
        </a>
    </div>
    <p></p>
    <div>
        <a href="{% url 'update_product' pk=product.pk %}">
            {% translate 'Product update' %}
        </a>
    </div>
    <p></p>
    <div>
        <a href="{% url 'delete_product' pk=product.pk %}">
            {% translate 'Product delete' %}
        </a>
    </div>
    <p></p>
    <div>
        <a href="{% url 'archive_product' pk=product.pk %}">
            {% translate 'Product archive' %}
        </a>
    </div>
{% endblock %}