{% extends 'shop/base.html' %}
{% load i18n %}

{% block title %}
    {% translate 'Product Archive' %}
{% endblock %}


{% block body %}
    <h1> {% translate 'Archiving a product' %} </h1>
    <h2> {% translate 'Are you sure you want to archive' %} {{ object.name }}? </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            {% translate 'Archive' %}
        </button>
    </form>
    <div>
        <a href="{% url 'product_details' pk=object.pk %}">
            {% translate 'Back to product details' %}
        </a>
    </div>
{% endblock %}